<body>
<main>


<section class="margins">
<h1>CATSTONE</h1><br><br>
<app-user-login componentTitle='cheese'
  (onLogIn)="loggedInInfo($event)"
  (onRegister)="newUserInfo($event)"
  (onUserName)="currentUserName($event)"
  *ngIf="!loggedIn && !newUser"></app-user-login>
<br>

<section *ngIf="newUser">

<app-user-new-user-cancel
(onAssignNewUser)="newUserInfo($event)">
</app-user-new-user-cancel>


<br><br>
<create-cat (onCreateCat)="newUserInfo($event)"
(onCreateCatLogin)="loggedInInfo($event)"></create-cat>

</section>

<section *ngIf="loggedIn" class="beheld">
  <cat-display [onCatDisplay] = "currentUser" (onGetCat)="updateCat($event)"></cat-display>

<section *ngIf="loggedIn" class="holdme">


  <section>
    <app-cat-visualize-compenent  [posted]="posted" [activeCat] = "activeCat"></app-cat-visualize-compenent>
  </section>

<section class="holdbox">
  <app-write-post-component (ifPosted)="ifPosted($event)" *ngIf="currentUser != activeCat.owner" [owner] = "currentUser" [activeCat] = "activeCat"></app-write-post-component>

  <section class="box">
    <app-view-post-component [activeCat] = "activeCat" [posted]="posted"></app-view-post-component>
  </section></section>
</section>
<section *ngIf="loggedIn">
<app-user-logout *ngIf="loggedIn" (emitData)="loggedInInfo($event)"></app-user-logout>
</section>
</section>
</section>
</main>

</body>
